{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,  [{compile, "make nif"}]}.
{post_hooks, [
  {clean,   "cmake --build $REBAR_BUILD_DIR/lib/glazejson/c_src --target clean 2>/dev/null || true"},
  {clean,   "rm -f *.dump *.crashdump"}
]}.

{plugins, [rebar3_hex]}.

{profiles, [
  {test, [
    {deps, [
      {simdjsone, {git, "file:///home/serge/projects/erl-libs/simdjsone", {branch, "next"}}},
      thoas,
      {jiffy, "1.1.1"},
      euneus
    ]},
    {extra_src_dirs, ["test"]}
  ]}
]}.
